@model New_DTAPP.Models.SpillModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Spill</h4>
<hr />
<div class="row justify-content-start mb-3">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Transfer Request</p>
            </div>
            <div class="col">
                <a class="btn btn-primary" asp-controller="Transfers" asp-action="Details" asp-route-id="@Model.TransferId" title="Open the Transfer in a new tab">
                    View Transfer <img id="testing" style="vertical-align:text-top!important;margin-left:5px!important;" src="~/images/box-arrow-up-right.svg" alt="Link to Transfer Image" height="20" width="20" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-5">
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Nature of Spill</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.NatureOfSpill)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Spill Status</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.SpillStatus.SpillStatusDesc)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">CFNOC Incident #</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.CFNOCIncidentNumber)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">DGDS SIM Incident #</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.DGDSSIMIncidentNumber)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">ISSO Informed</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.IssoInformed)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Manager Informed </p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.ManagerInformed)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Date of Spill</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.DateOfSpill)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Time Identified as Spill</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.TimeIdentifiedSpill)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Workstation Affected</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.WorkstationAffected)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Workstation Asset Number</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.WorkstationAssetNumber)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Specialist User Name</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.SpecialistUser.Username)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Reviewer User Name</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.ReviewerUser.Username)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Originating System</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.OrigSystem.SystemName)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Destination System</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.DestSystem.SystemName)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Burned and Annotated</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.BurnedAndAnnotated)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Transfer Request Completed</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.TransferRequestCompleted)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Client Informed</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.ClientInformed)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Consideration Power Down</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.ConsiderationPowerDown)</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">Email Triple Deleted</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.EmailTripleDeleted)</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <p class="fw-bold">CD Sent</p>
            </div>
            <div class="col">
                <p>@Html.DisplayFor(Model => Model.CDSent)</p>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.SpillId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>
