@using static Constants
@model New_DTAPP.Models.TransferModel
@{
    ViewData["Title"] = "Charts";
}
<h1>Top Clients By:</h1>
<form asp-action="TopClientsByRequests">
    <input type="hidden" name="filtered" value="ButtonClicked" />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="form-check-label" for="numOfTransfers">Number of Transfer Requests</label>
                @Html.RadioButton("typeOfReport", "numOfTransfers", ViewBag.NumOfTransfers, htmlAttributes: new { @id = "numOfTransfers", @class = "form-check-input" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-check-label" for="numOfFiles">Number of Files</label>
                @Html.RadioButton("typeOfReport", "numOfFiles", ViewBag.NumOfFiles, htmlAttributes: new { @id = "numOfFiles", @class = "form-check-input" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-check-label" for="fileSize">Size of Files</label>
                @Html.RadioButton("typeOfReport", "fileSize",ViewBag.FileSize, htmlAttributes: new { @id = "fileSize", @class = "form-check-input" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="raisedAfter">Raised After:</label>
                @Html.TextBox("raisedAfter", ViewBag.RaisedAfter, "", htmlAttributes: new { @class = "datefield form-select", type = "datetime-local" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="raisedBefore">Raised Before:</label>
                @Html.TextBox("raisedBefore", ViewBag.RaisedBefore, "", htmlAttributes: new { @class = "datefield form-select", type = "datetime-local" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="selectedCompletedUser">Completed User</label>
                @Html.DropDownList("selectedCompletedUser", ViewBag.CompletedUserId, "", htmlAttributes: new { @class = "form-select" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="filterSpillOccurred">Spill Occurred</label>
                @Html.CheckBox("filterSpillOccurred", ViewBag.FilterSpillOccurred, htmlAttributes: new { @class = "form-check" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="filterTransferDenied">Transfer Denied</label>
                @Html.CheckBox("filterTransferDenied", ViewBag.FilterTransferDenied, htmlAttributes: new { @class = "form-check" })
            </div>
        </div>
        <div class="col" style="align-self: end; text-align: end;">
            <button type="submit" style="border: 0; background: transparent">
                <img src="~/images/More.png" height="20" width="20" title="Filter" />
            </button>
            <a asp-action="TopClientsByRequests"
               asp-route-clearFilters="true">
                <img src="~/images/Cancel.png" height="20" width="20" title="Clear" />
            </a>
        </div>
    </div>
</form>
<style>
    #chartdiv {
        width: 100%;
        height: 65vh;
    }
</style>

<div id="chartdiv"></div>
<a class="btn btn-primary" asp-action="Index">Back</a>
<script src="~/js/amCharts/core.js"></script>
<script src="~/js/amCharts/charts.js"></script>
<script src="~/js/amCharts/themes/animated.js"></script>
<script>
    var json = '@ViewBag.jsonData';
    json = json.replaceAll("&quot;", "\"");
    var data = JSON.parse(json);

    am4core.addLicense('@Constants.licensekey');
    am4core.ready(function () {
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("chartdiv", am4charts.PieChart3D);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.legend = new am4charts.Legend();
        chart.legend.maxHeight = 150;
        chart.legend.scrollable = true;

        chart.data = data;

        chart.innerRadius = 100;

        var series = chart.series.push(new am4charts.PieSeries3D());
        series.dataFields.value = "count";
        series.dataFields.category = "clientUnit";

        if ('@ViewBag.FileSize') {
            series.slices.template.tooltipText = "{category}: {value.percent.formatNumber('#.#p')} ({value.value.formatNumber('#.0as')})";
        }

    });

</script>