@model IEnumerable<New_DTAPP.Models.UnitModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><img src="~/images/Add.png" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UnitId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UnitId">Details</a> 
                    
            </td>
        </tr>
}
    </tbody>
</table>
